.contact-field {
    display: grid;
    margin: 3em 0 4em 0;
}

.contact-field h2 {
    text-align: center;
    place-self: center;
    color:##000;
}

.contact-field h2:after {
    content: "";
    border-top:1px solid #261c55;
    display: block;
    width:3em;
    margin:.9em;
}

.contact-container {
    place-self: center;
    display: flex;
    flex-wrap: wrap;
    gap:4em;
    width:80%;
    margin:20px auto;
    background-color: transparent;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}

.contact-container img {
    width:50%;
}

.contact-container .message-form {
    max-width: 500px;
    margin:0 auto;

}

.contact-container label {
    display:block;
    margin:bottom;
    color:#555;
    margin:0.1em 0 0.1em 0;
}

.contact-container input {
    width: 100%;
    height:13%;
    margin:0.8em 0 0.8em 0;
    padding:10px;
}

.contact-container input [type="text"],
.contact-container input [type="email"],
.contact-container textarea {
    width:100%;
    padding:10px ;
    margin-bottom:15px;
    border-radius:5px;
}

.contact-container textarea{
    resize :vertical;
}

.contact-container button[type="submit"] {
    background-color:#261c55;
    color:#fff;
    padding: 10px 20px;
    border: none;
    cursor:pointer;
    transition: background-color 0.3ease;
    border-radius: 0.5em;
}

.contact-container button[type="submit"]:hover {
    background-color:#007b;
}

.contact .contact-field .contact-container .messag-form i {
    display:block;
}

/* Responsive Styles */

/*phone*/
    @media only screen and (min-width:200px)and (max-width:600px){
        .contact-container {
              width: 90%;
           }
        
        .contact-container img {
             width:100%;
      }
        
        
        
    }
    
    /*Tablet*/
    @media only screen and (min-width:601px)and (max-width:900px){
        
    }
    
    /*Medium Siz Laptop*/
    @media only screen and (min-width:901px)and (max-width:1199px) {

}
    
    /* Large Desktop*/
    @media only screen and (min-width:1200px)and (max-width:1799px) {}
    
    /*Extra Display*/
    @media only screen and (min-width:1800px){}